<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - RetailStore</title>

  <environment include="Development">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
  </environment>
  <environment exclude="Development">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
          asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
          crossorigin="anonymous"
          integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" />
  </environment>
  <link rel="stylesheet" href="~/lib/fontawesome-free/css/all.min.css" />
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
  <link rel="stylesheet" href="~/lib/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css" />
  <link rel="stylesheet" href="~/lib/icheck-bootstrap/icheck-bootstrap.min.css" />
  <link rel="stylesheet" href="~/lib/jqvmap/jqvmap.min.css" />
  <link rel="stylesheet" href="~/css/adminlte.min.css" />
  <link rel="stylesheet" href="~/lib/overlayScrollbars/css/OverlayScrollbars.min.css" />
  <link rel="stylesheet" href="~/lib/daterangepicker/daterangepicker.css" />
  <link rel="stylesheet" href="~/lib/summernote/summernote-bs4.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" />
  <link rel="stylesheet" href="~/lib/datatables/dataTables.bootstrap4.min.css" />
  <link rel="stylesheet" href="~/css/site.css" />

</head>
<body class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">

    <partial name="_Header" />
    <partial name="_Sidebar" />

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      @RenderBody()
    </div>
    <!-- Control Sidebar -->

    <partial name="_Footer" />
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
  </div>


  @*<div class="container">
      <partial name="_CookieConsentPartial" />
      <main role="main" class="pb-3">
        @RenderBody()
      </main>
    </div>*@

  <environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
  </environment>
  <environment exclude="Development">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha256-E/V4cWE4qvAeO5MOhjtGtqDzPndRO1LBk8lJ/PR7CA4=">
    </script>
  </environment>
  <script src="~/js/site.js" asp-append-version="true"></script>
  <script src="~/lib/jquery-ui/jquery-ui.min.js" asp-append-version="true"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
  <script src="~/lib/chart.js/Chart.min.js" asp-append-version="true"></script>
  <script src="~/lib/sparklines/sparkline.js" asp-append-version="true"></script>
  <script src="~/lib/jqvmap/jquery.vmap.min.js" asp-append-version="true"></script>
  <script src="~/lib/jqvmap/maps/jquery.vmap.world.js" asp-append-version="true"></script>

  <!-- jQuery Knob Chart -->
  <script src="~/lib/jquery-knob/jquery.knob.min.js" asp-append-version="true"></script>
  <!-- daterangepicker -->
  <script src="~/lib/moment/moment.min.js"></script>
  <script src="~/lib/daterangepicker/daterangepicker.js" asp-append-version="true"></script>
  <!-- Tempusdominus Bootstrap 4 -->
  <script src="~/lib/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js" asp-append-version="true"></script>
  <!-- Summernote -->
  <script src="~/lib/summernote/summernote-bs4.min.js" asp-append-version="true"></script>
  <!-- overlayScrollbars -->
  <script src="~/lib/overlayScrollbars/js/jquery.overlayScrollbars.min.js" asp-append-version="true"></script>
  <!-- FastClick -->
  <script src="~/lib/fastclick/fastclick.js" asp-append-version="true"></script>



  <!-- AdminLTE App -->
  <script src="~/js/adminlte.js" asp-append-version="true"></script>
  <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
  <script src="~/js/pages/dashboard.js" asp-append-version="true"></script>
  <!-- AdminLTE for demo purposes -->
  <script src="~/js/demo.js" asp-append-version="true"></script>

  <!-- DataTable -->
  <script src="~/lib/datatables/jquery.dataTables.js" asp-append-version="true"></script>
  <script src="~/lib/datatables/dataTables.bootstrap4.min.js" asp-append-version="true"></script>

  @RenderSection("Scripts", required: false)
</body>
</html>
