@model IEnumerable<RetailStore.Models.ProductViewModel>

@{
  ViewData["Title"] = "Index";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
  <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered table-hover dataTable" id="productDataTable">
</table>


@section Scripts
{ 
  <script>
    var productTable;
    $(document).ready(function () {
      initProductTable();
    });

    function initProductTable() {
      productTable = $('#productDataTable').DataTable({
        paging:true,
        ajax: {
          type:'Get',
          url: '/product/index',
          dataSrc: 'responseData'
        },
        columns: [
          { data: "categoryName" ,title:'Category'}, 
          { data: "name", title: 'Name' }, 
          { data: "description", title: 'description' },
          { data: "salePrice", title:'Unit Price' }
        ]
      });
     
    }

  </script>
  

}