@model IEnumerable<RetailStore.Models.ProductViewModel>

@{
  ViewData["Title"] = "Index";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Products </h1>
        <div id="counter"></div>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <a asp-action="Create"><i class="fa fa-plus-circle text-primary"></i> Create New</a>
          </div>
          <div class="card-body">
            <table class="table table-bordered table-hover dataTable" id="productDataTable"></table>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="modal" tabindex="-1" role="dialog" id="addNewStockModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="titleText">Add New Stock</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="newCategoryForm">
        <div class="modal-body">

          <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          <div class="form-group">
            <label for="vendor" class="control-label">Vendor</label>
            <select name="vendor" id="vendor" class="form-control">
              <option>ClickChain</option>
            </select>
          </div>
          <div class="form-group">
            <label for="qtyPurchased" class="control-label">Quantity Purchased</label>
            <input name="qtyPurchased" id="qtyPurchased" class="form-control" />
          </div>
          <div class="form-group">
            <label for="unitCost" class="control-label">Unit Cost</label>
            <input name="unitCost" id="unitCost" class="form-control" />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="addNewCategory">Save changes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
        </div>
      </form>
    </div>
  </div>
</div>


@section Scripts
  {
  <script>
    var productTable;
    $(document).ready(function () {
      initProductTable();
    });

    function initProductTable() {
      productTable = $('#productDataTable').DataTable({
        paging: true,
        ajax: {
          type: 'Get',
          url: '/product/index'
        },
        columns: [
          { data: "categoryName", title: 'Category' },
          { data: "name", title: 'Name' },
          { data: "salePrice", title: 'Unit Price' },
          { data: "qtyAvailable", title: 'Available Qty#' },
          { data: "unitCost", title: 'Unit Cost' },
          {
            data: "", title: 'Action', render: function (data, type, row, meta) {
              return '<a href="/Product/Edit/' + row.id + '">Edit</a> | <a href="/Product/Detail/' + row.id + '">Detail</a> | <a href="/Product/Delete/' + row.id + '">Delete</a> | <a href="#" onclick="showAddStockModal(event)" data-attr="' + row.id + '">Add Stock</a>';
            }
          }
        ]
      });

    }

    function showAddStockModal(event) {
      var productId = $(event.target).attr('data-attr');
      
      var product = productTable.rows().data().filter(function(product) {
        return product.id == productId;
      })[0];

      $("#titleText").html(product.name + ' - Add Stock');

      $('#addNewStockModal').modal();
    }
    

  </script>


}